<div id="background" ng-controller="notFoundCtrl">
			<div id="Background"><img src="../images/Background.png"></div>
			<div id="AltBackground"><img src="../images/AltBackground.png"></div>
			<div id="Wearesorrybutthepage"><img src="../images/Wearesorrybutthepage.png"></div>
			<div id="Shadow44"><img src="../images/Shadow44.png"></div>
			<div id="ShadowO"><img src="../images/ShadowO.png"></div>
			<div id="layer_404"><img src="../images/layer_404.png"></div>
			<div id="HighlightIregular"><img src="../images/HighlightIregular.png"></div>
			<div id="DarkEdge"><img src="../images/DarkEdge.png"></div>
		</div>