<div ng-controller="confirmationFormCtrl">
	<h1>Student Information:</h1>
	<p>We would be interested in knowing a little more about your
		thoughts, ideas and aspirations. This will help us present the right
		ingredient to help you excel in your current ecosystem before
		venturing into the world beyond. Please respond to the below
		questions:-</p>
	<form class="form-horizontal" ng-submit="submitStudnetForm()"
		role="form">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
				<input type="text" id="name" class="form-control"
					ng-model="name" />
			</div>
			<div class="col-sm-3"></div>

		</div>
		<div class="form-group">
			<div class="col-sm-3 control-label">What do you want to become
				in the next 5 yrs</div>
			<div class="col-sm-7">
				<div data-ng-repeat="p in cxo">
					<div class="checkbox">
						<input type="checkbox" ng-model="cxoresult.value"
							ng-true-value="{{p.value}}" ng-false-value=""> {{p.text}}
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 control-label">What Salary would you like
				to earn in the next 5 yrs</div>
			<div class="col-sm-7">
				<div data-ng-repeat="p in salary">
					<div class="checkbox">
						<input type="checkbox" ng-model="salaryresult.value"
							ng-true-value="{{p.value}}" ng-false-value=""> {{p.text}}
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 control-label">How much time would you be
				able to spend for your learning</div>
			<div class="col-sm-7">
				<div data-ng-repeat="p in time">
					<div class="checkbox">
						<input type="checkbox" ng-model="timeresult.value"
							ng-true-value="{{p.value}}" ng-false-value=""> {{p.text}}
					</div>
				</div>
			</div>
		</div>

		<input type="submit" value="Save"
			class="btn btn-primary col-sm-offset-3" /> <input type="reset"
			value="Reset" ng-click="resetForm()" class="btn" /> <br />
	</form>

</div>